body {
    background-image: url('https://images.unsplash.com/photo-1502741338009-cac2772e18bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    max-width: 100%;
    max-height: auto;
       
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
    color: white;

}

header  {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: xx-large;
    text-align: top;
    padding: 50px;

}

#image {
    
    border-style: solid;
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    border-width: 2px;
    border-color: white;
    border-image-outset: 0pt;
   mask-image: cross-fade();
   
}

#select-box {
    background-color: transparent;
    border-style: none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: bold;
    color: white;
}

.fav-recipes {
    font-size: large;
}

button {
    width: 200px;
    height: 50px;
    align-self: center;
    color: blue;
    border-radius: 12px;
    font-weight: bolder;
    font-size: large;
   

}


.button:hover {
    background-color:blue;
    color: white;
}